doctype html
html(lang='en', ng-app='myApp')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css') 
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-resource.js')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.js')

		script(src='/javascripts/app.js')
		script(src='/javascripts/services.js')
		script(src='/javascripts/controllers.js')
	body(ng-controller='SensorLogList')
		nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
			div.navbar-header
				a.navbar-brand(href='#/prova')= title
			div.container
				div(ng-view)