<div class="panel-heading">Devices

<div ng-controller="ModalDemoCtrl">
    <script type="text/ng-template" id="loadingModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Waiting for device ... </h3>
        </div>
        <div class="modal-body">
            <div ng-show="loading" class="loading"><img src="images/loading.gif"></div>
        </div>
		<div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <button type="button" class="btn btn-default" ng-click="open()">Open me!</button>
</div>

</div>
<div class="row" ng-switch on="device.length">
	<ul ng-switch-when="0">
		<li><em>No logs in database</li>
	</ul>
	<ul ng-switch-default>
		<table class="table table-bordered">
			<tr>
				<th>Date</th>
				<th>Device</th>
				<th>Sensor</th> 
			</tr>
			<tr ng-repeat="x in device">
			<td>{{ x.insertDate }}</td>
			<td>{{ x.device }}</td>
			<td>{{ x.sensor }}</td>
			</tr>
		</table>
	</ul>
</div>
<p>&nbsp;</p>