<div class="page-header">
          <h1>List</h1>
        </div>
        <div class="row"><div class="col-xs-12">
<hr></div></div>
        <div class="row" ng-switch on="sensorLog.length">
          <ul ng-switch-when="0">
            <li><em>No logs in database</li>
          </ul>
          <ul ng-switch-default>
            <table>
			  <tr ng-repeat="x in sensorLog">
				<td>{{ x.Name }}</td>
				<td>{{ x.Country }}</td>
			  </tr>
			</table>
          </ul>
        </div>
        <p>&nbsp;</p>