



<div ng-controller="LoginCtrl">		
    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> DomusGuard Authentication </h1>

		<button class="btn btn-danger col-xs-3 col-xs-offset-4" type="button" ng-click="loginGoogle()"><span class="fa fa-google-plus"></span>Continue with Google</button>
		<br><br>		
		<hr>
			
		<div class="container">
		
			
			<form name="userForm" class="form-horizontal col-xs-3 col-xs-offset-4">
			
				<div class="alert alert-danger" ng-show="error" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Email or password wrong</div>

				<div class="form-group" ng-class="{'has-error' : checkForError(userForm.email, true)}">
						<input name="email" type="email" class="form-control" ng-model="user.email"  
						ng-blur="checkEmail()" placeholder="Email"  required/>
				</div>

				<div class="form-group"  ng-class="{'has-error' : checkForError(userForm.pwd)}">
						<input name="pwd" type="password" class="form-control" ng-model="user.pwd" placeholder="Type a password" 
						uib-tooltip="{{userForm.pwd.$error.msg}}" />
				</div>

				<div class="form-group" ng-show="signup" ng-class="{'has-error' : checkForError(userForm.pwd2, true)}" >
						<input name="pwd2" type="password" class="form-control" ng-model="user.pwd2" placeholder="Retype a password" 
						uib-tooltip="{{userForm.pwd2.$error.msg}}"/>
				</div>
				
				<div class="form-group" ng-show="signup" >
						<input type="text" class="form-control" ng-model="user.Name" placeholder="Name" />
				</div>
				
				<div class="form-group" ng-show="signup" >
						<input type="text" class="form-control" ng-model="user.Location" placeholder="Default Location" />
				</div>

				
				<button class="btn btn-warning" type="button" ng-click="loginLocal()">{{(signup?'SignUp':'SignIn')}}</button>
			
			</form>	
		</div>

    </div>

</div>


