
<div ng-controller="SystemCtrl">
<h3><span class="label label-default">System Configuration</span></h3>


<uib-accordion close-others="true">
    <uib-accordion-group heading="Users" is-open="false" is-disabled="false">
	
		<div class="container-fluid">
			<div class="col-sm-3">
				<input type="text" class="form-control" ng-model="user.email" placeholder="Enter user" />
			</div>
			<div class="col-sm-3">
				<button class="btn btn-warning" type="button" ng-click="addUser()">Add user</button>
				<button class="btn btn-warning" type="button" ng-click="deleteUser()">Delete user</button>
			</div>	
			{{data.repeatSelect}}
			<div class="col-sm-2">
				<select name="users" id="users" ng-model="data.repeatSelect" multiple>				
					<option ng-repeat="option in data.availableOptions" value="{{option.email}}">{{option.email}}</option>
				</select>
			</div>	
			
		</div>
    </uib-accordion-group>
	
	<uib-accordion-group heading="Notifications" is-open="false" is-disabled="false"  >  
	
		<div class="container-fluid">
			<div class="checkbox" >
				<label>
					<input type="checkbox" ng-model="enableEmailApi" >
					Enable Email 
				</label>
			</div>
			
			<div class="btn-group" >
				<label class="btn btn-primary" ng-model="enableGoogleEmailApi" uib-btn-radio="true"  ng-disabled="!enableEmailApi" >Google Api</label>
				<label class="btn btn-primary" ng-model="enableGoogleEmailApi" uib-btn-radio="false" ng-disabled="!enableEmailApi" >Smpt</label>
			</div>
			
			<br><br>
			
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<label class="control-label col-sm-1" >Smtp:</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" ng-model="zone.name" placeholder="Enter smpt url" ng-disabled="!(enableEmailApi && !enableGoogleEmailApi)"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-1" >Email:</label>
					<div class="col-sm-3">
						<input type="email" class="form-control" ng-model="zone.name" placeholder="Enter email" ng-disabled="!(enableEmailApi && !enableGoogleEmailApi)"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-1" >Password:</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" ng-model="zone.name" placeholder="Password" ng-disabled="!(enableEmailApi && !enableGoogleEmailApi)"/>
					</div>
				</div>

			</form>
			
		</div>
		
		<hr>
		
		<div class="checkbox">
			<label>
				<input type="checkbox" ng-model="enablePushNotification">
				Enable Push notifications
			</label>
		</div>
		
		<hr>
		
		<button class="btn btn-warning" type="button" ng-click="saveNotification()">Save</button>

		
    </uib-accordion-group>
  </uib-accordion>

</div>


